@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    color: #18181B;
    min-height: 100vh;
    background-color: rgb(229, 231, 235);
}